{{> nav-lat }}

 <div class="content-page-container full-reset custom-scroll-containers">
    {{> nav-sup}}
    <div class="container">
        <div class="page-header">
            <h1 class="all-tittles">Sistema de eventos universitarios <small>Inicio</small></h1>
        </div>
    </div>
    <section class="full-reset text-center" style="padding: 40px 0;">
        
        <article class="tile">
            <a href="/listaEventos">
                <div class="tile-icon full-reset"><i class="zmdi zmdi-pizza"></i></div>
                <div class="tile-name all-tittles" style="width: 90%;">Eventos</div>
                <div class="tile-num full-reset">&nbsp;</div>
            </a>
        </article>
        <article class="tile">
            <a href="/listaClientes">
                <div class="tile-icon full-reset"><i class="zmdi zmdi-face"></i></div>
                <div class="tile-name all-tittles" style="width: 90%;">clientes</div>
                <div class="tile-num full-reset">&nbsp;</div>
            </a>
        </article>
        <article class="tile">
            <a href="/listaOrg">
                <div class="tile-icon full-reset"><i class="zmdi zmdi-account-box-phone"></i></div>
                <div class="tile-name all-tittles" style="width: 90%;">Organizadores</div>
                <div class="tile-num full-reset">&nbsp;</div>
            </a>
        </article>
        
        <article class="tile">
            <a href="/listaAdmins">
                <div class="tile-icon full-reset"><i class="zmdi zmdi-balance"></i></div>
                <div class="tile-name all-tittles" style="width: 90%;">Administradores</div>
                <div class="tile-num full-reset">&nbsp;</div>
            </a>
        </article>
    </section>
    {{> footer }}
</div>