<div class="navbar-lateral full-reset">
    <div class="visible-xs font-movile-menu mobile-menu-button"></div>
    <div class="full-reset container-menu-movile nav-lateral-scroll">
        <div class="logo full-reset all-tittles">
            <i class="visible-xs zmdi zmdi-close pull-left mobile-menu-button" style="line-height: 55px; cursor: pointer; padding: 0 10px; margin-left: 7px;"></i> 
            Zundada
        </div>
        <div class="nav-lateral-divider full-reset"></div>
        <div class="full-reset" style="padding: 10px 0; color:#fff;">
            <figure>
                <img src="assets/img/logo.png" alt="Biblioteca" class="img-responsive center-box" style="width:55%;">
            </figure>
        </div>
        <div class="nav-lateral-divider full-reset"></div>
        <div class="full-reset nav-lateral-list-menu">
            <ul class="list-unstyled">
                <li><a href="/home"><i class="zmdi zmdi-home zmdi-hc-fw"></i>&nbsp;&nbsp; Inicio</a></li>
                <li>
                    <div class="dropdown-menu-button"><i class="zmdi zmdi-cocktail zmdi-hc-fw"></i>&nbsp;&nbsp; Eventos <i class="zmdi zmdi-chevron-down pull-right zmdi-hc-fw icon-sub-menu"></i></div>
                    <ul class="list-unstyled">
                        {{#if_equal user.Rol "Administrador"}}
                        <li><a href="/registroEvento"><i class="zmdi zmdi-star-circle zmdi-hc-fw"></i>&nbsp;&nbsp; Registrar evento</a></li>
                        {{/if_equal}}
                        {{#if_equal user.Rol "Organizador"}}
                        <li><a href="/registroEvento"><i class="zmdi zmdi-star-circle zmdi-hc-fw"></i>&nbsp;&nbsp; Registrar evento</a></li>
                        {{/if_equal}}
                        <li><a href="/listaEventos"><i class="zmdi zmdi-pizza zmdi-hc-fw"></i>&nbsp;&nbsp; Lista de eventos</a></li>
                    </ul>
                </li>
                {{#if_equal user.Rol "Administrador"}}
                <li>
                    <div class="dropdown-menu-button"><i class="zmdi zmdi-face zmdi-hc-fw"></i>&nbsp;&nbsp; Clientes <i class="zmdi zmdi-chevron-down pull-right zmdi-hc-fw icon-sub-menu"></i></div>
                    <ul class="list-unstyled">
                        <li><a href="/registroCliente"><i class="zmdi zmdi-account-add zmdi-hc-fw"></i>&nbsp;&nbsp; Registrar Cliente</a></li>
                        <li><a href="/listaClientes"><i class="zmdi zmdi-accounts zmdi-hc-fw"></i>&nbsp;&nbsp; Lista de clientes</a></li>
                    </ul>
                </li>
                <li>
                    <div class="dropdown-menu-button"><i class="zmdi zmdi-folder-person zmdi-hc-fw"></i>&nbsp;&nbsp; Organizadores <i class="zmdi zmdi-chevron-down pull-right zmdi-hc-fw icon-sub-menu"></i></div>
                    <ul class="list-unstyled">
                        <li><a href="/registroOrg"><i class="zmdi zmdi-accounts-add zmdi-hc-fw"></i>&nbsp;&nbsp; Registrar Organizador</a></li>
                        <li><a href="/listaOrg"><i class="zmdi zmdi-accounts-list zmdi-hc-fw"></i>&nbsp;&nbsp; Lista de Organizadores</a></li>
                    </ul>
                </li>
                <li>
                    <div class="dropdown-menu-button"><i class="zmdi zmdi-case zmdi-hc-fw"></i>&nbsp;&nbsp; Administradores <i class="zmdi zmdi-chevron-down pull-right zmdi-hc-fw icon-sub-menu"></i></div>
                    <ul class="list-unstyled">
                        <li><a href="/registroAdmin"><i class="zmdi zmdi-assignment-account zmdi-hc-fw"></i>&nbsp;&nbsp; Registrar Administrador</a></li>
                        <li><a href="/listaAdmins"><i class="zmdi zmdi-accounts-list zmdi-hc-fw"></i>&nbsp;&nbsp; Lista de Administradores</a></li>
                    </ul>
                </li>
                {{/if_equal}}
            </ul>
        </div>
    </div>
</div>