{{> nav-lat}}
<div class="content-page-container full-reset custom-scroll-containers">
    {{> nav-sup }}
    <div class="container">
        <div class="page-header">
            <h1 class="all-tittles">Sistema de eventos universitarios <small>Clientes</small></h1>
        </div>
    </div>
    <div class="conteiner-fluid">
        <ul class="nav nav-tabs nav-justified"  style="font-size: 17px;">
            <li role="presentation"><a href="/registroCliente">Registro</a></li>
            <li role="presentation" class="active"><a href="/listaClientes">Lista clientes</a></li>
        </ul>
    </div>
    <div class="container-fluid"  style="margin: 50px 0;">
        <div class="row">
            <div class="col-xs-12 col-sm-4 col-md-3">
                <img src="assets/img/user03.png" alt="user" class="img-responsive center-box" style="max-width: 110px;">
            </div>
            <div class="col-xs-12 col-sm-8 col-md-8 text-justify lead">
                Bienvenido a la sección donde se encuentra el listado de clientes registrados en zundada. Puedes actualizar o eliminar los datos del cliente.<br>
                <strong class="text-danger"><i class="zmdi zmdi-alert-triangle"></i> &nbsp; ¡Importante! </strong>Si eliminas un cliente del sistema se borrarán todos los datos relacionados con él.
            </div>
        </div>
    </div>
    <div class="container-fluid" style="margin: 0 0 10px 0;">
        <form class="pull-right" style="width: 30% !important;" autocomplete="off">
            <div class="group-material">
                <input type="search" style="display: inline-block !important; width: 70%;" class="material-control tooltips-general" placeholder="Buscar cliente" required="" pattern="[a-zA-ZáéíóúÁÉÍÓÚ ]{1,50}" maxlength="40" data-toggle="tooltip" data-placement="top" title="Escribe el nombre completo">
                <button class="btn" style="margin: 0; height: 43px; background-color: transparent !important;">
                    <i class="zmdi zmdi-search" style="font-size: 25px;"></i>
                </button>
            </div>
        </form> 
    </div>
    <div class="container-fluid">
        <h2 class="text-center all-tittles">listado de clientes</h2>
        <div class="table-responsive">
            <div class="div-table" style="margin:0 !important;">
                <div class="div-table-row div-table-row-list" style="background-color:#DFF0D8; font-weight:bold;">
                    <div class="div-table-cell" style="width: 6%;">#</div>
                    <div class="div-table-cell" style="width: 18%;">NIE</div>
                    <div class="div-table-cell" style="width: 18%;">Apellidos</div>
                    <div class="div-table-cell" style="width: 18%;">Nombres</div>
                    <div class="div-table-cell" style="width: 18%;">Sección</div>
                    <div class="div-table-cell" style="width: 9%;">Actualizar</div>
                    <div class="div-table-cell" style="width: 9%;">Eliminar</div>
                </div>
            </div>
        </div>
        <div class="table-responsive">
            <div class="div-table" style="margin:0 !important;">
                <div class="div-table-row div-table-row-list">
                    <div class="div-table-cell" style="width: 6%;">#</div>
                    <div class="div-table-cell" style="width: 18%;">NIE</div>
                    <div class="div-table-cell" style="width: 18%;">Apellidos</div>
                    <div class="div-table-cell" style="width: 18%;">Nombres</div>
                    <div class="div-table-cell" style="width: 18%;">Sección</div>
                    <div class="div-table-cell" style="width: 9%;">
                        <button class="btn btn-success"><i class="zmdi zmdi-refresh"></i></button>
                    </div>
                    <div class="div-table-cell" style="width: 9%;">
                        <button class="btn btn-danger"><i class="zmdi zmdi-delete"></i></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="table-responsive">
            <div class="div-table" style="margin:0 !important;">
                <div class="div-table-row div-table-row-list">
                    <div class="div-table-cell" style="width: 6%;">#</div>
                    <div class="div-table-cell" style="width: 18%;">NIE</div>
                    <div class="div-table-cell" style="width: 18%;">Apellidos</div>
                    <div class="div-table-cell" style="width: 18%;">Nombres</div>
                    <div class="div-table-cell" style="width: 18%;">Sección</div>
                    <div class="div-table-cell" style="width: 9%;">
                        <button class="btn btn-success"><i class="zmdi zmdi-refresh"></i></button>
                    </div>
                    <div class="div-table-cell" style="width: 9%;">
                        <button class="btn btn-danger"><i class="zmdi zmdi-delete"></i></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="table-responsive">
            <div class="div-table" style="margin:0 !important;">
                <div class="div-table-row div-table-row-list">
                    <div class="div-table-cell" style="width: 6%;">#</div>
                    <div class="div-table-cell" style="width: 18%;">NIE</div>
                    <div class="div-table-cell" style="width: 18%;">Apellidos</div>
                    <div class="div-table-cell" style="width: 18%;">Nombres</div>
                    <div class="div-table-cell" style="width: 18%;">Sección</div>
                    <div class="div-table-cell" style="width: 9%;">
                        <button class="btn btn-success"><i class="zmdi zmdi-refresh"></i></button>
                    </div>
                    <div class="div-table-cell" style="width: 9%;">
                        <button class="btn btn-danger"><i class="zmdi zmdi-delete"></i></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="table-responsive">
            <div class="div-table" style="margin:0 !important;">
                <div class="div-table-row div-table-row-list">
                    <div class="div-table-cell" style="width: 6%;">#</div>
                    <div class="div-table-cell" style="width: 18%;">NIE</div>
                    <div class="div-table-cell" style="width: 18%;">Apellidos</div>
                    <div class="div-table-cell" style="width: 18%;">Nombres</div>
                    <div class="div-table-cell" style="width: 18%;">Sección</div>
                    <div class="div-table-cell" style="width: 9%;">
                        <button class="btn btn-success"><i class="zmdi zmdi-refresh"></i></button>
                    </div>
                    <div class="div-table-cell" style="width: 9%;">
                        <button class="btn btn-danger"><i class="zmdi zmdi-delete"></i></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="table-responsive">
            <div class="div-table" style="margin:0 !important;">
                <div class="div-table-row div-table-row-list">
                    <div class="div-table-cell" style="width: 6%;">#</div>
                    <div class="div-table-cell" style="width: 18%;">NIE</div>
                    <div class="div-table-cell" style="width: 18%;">Apellidos</div>
                    <div class="div-table-cell" style="width: 18%;">Nombres</div>
                    <div class="div-table-cell" style="width: 18%;">Sección</div>
                    <div class="div-table-cell" style="width: 9%;">
                        <button class="btn btn-success"><i class="zmdi zmdi-refresh"></i></button>
                    </div>
                    <div class="div-table-cell" style="width: 9%;">
                        <button class="btn btn-danger"><i class="zmdi zmdi-delete"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{> footer }}
</div>