{{> nav-lat }}
<div class="content-page-container full-reset custom-scroll-containers">
    
    {{> nav-sup }}
    <div class="container">
        <div class="page-header">
            <h1 class="all-tittles">Sistema de eventos universitarios <small>Administradores</small></h1>
        </div>
    </div>
    <div class="conteiner-fluid">
        <ul class="nav nav-tabs nav-justified"  style="font-size: 17px;">
            <li role="presentation"><a href="/registroAdmin">Registro</a></li>
            <li role="presentation" class="active"><a href="/listaAdmins">Lista de Administradores</a></li>
        </ul>
    </div>
    <div class="container-fluid"  style="margin: 50px 0;">
        <div class="row">
            <div class="col-xs-12 col-sm-4 col-md-3">
                <img src="assets/img/user01.png" alt="user" class="img-responsive center-box" style="max-width: 110px;">
            </div>
            <div class="col-xs-12 col-sm-8 col-md-8 text-justify lead">
                Bienvenido a la sección donde se encuentra el listado de los administradores.
            </div>
        </div>
    </div>
    <div class="container-fluid" style="margin: 0 0 0px 0;">
        <form class="pull-right" style="width: 30% !important;" autocomplete="off">
            <div class="group-material">
                <input type="search" style="display: inline-block !important; width: 70%;" class="material-control tooltips-general" placeholder="Buscar administrador" required="" pattern="[a-zA-ZáéíóúÁÉÍÓÚ ]{1,50}" maxlength="50" data-toggle="tooltip" data-placement="top" title="Escribe el nombre completo">
                <button class="btn" style="margin: 0; height: 43px; background-color: transparent !important;">
                    <i class="zmdi zmdi-search" style="font-size: 25px;"></i>
                </button>
            </div>
        </form> 
    </div>
    <div class="container-fluid">
        <h2 class="text-center all-tittles">Lista de administradores</h2>
        <div class="div-table">
            <div class="div-table-row div-table-head">
                <div class="div-table-cell">Id</div>
                <div class="div-table-cell">Nombre</div>
                <div class="div-table-cell">Usuario</div>
                <div class="div-table-cell">Correo</div>
                <div class="div-table-cell">Actualizar</div>
                <div class="div-table-cell">Eliminar</div>
            </div>  
            {{#each item}}
            <div class="div-table-row">
                <div class="div-table-cell">{{idUsuario}}</div>
                <div class="div-table-cell">{{Nombre}}</div>
                <div class="div-table-cell">{{Usuario}}</div>
                <div class="div-table-cell">{{Correo}}</div>
                <div class="div-table-cell">
                    <button class="btn btn-success"><i class="zmdi zmdi-refresh"></i></button>
                </div>
                <div class="div-table-cell">
                    <button class="btn btn-danger"><i class="zmdi zmdi-delete"></i></button>
                </div>
            </div>
            {{/each}}
        </div>                  
    </div>
    {{> footer}}
</div>